@page "/syncfile"
@rendermode InteractiveServer

<h3>To Sync @items.Count(item => item.IsReady)</h3>

<ul>
	@foreach (ToSyncItem item in items)
	{
		<li>
			<input type="checkbox" @bind="item.IsReady" />
			@item.ID
			@if (!item.ExistsInUnity)
			{
				<span class="alert-danger" style="font-size:12px">&nbsp;New</span>
			}
			else
			{
				if (item.EqualtoUnity)
				{
					<span class="alert-success">&nbsp;&#10003</span>
				}
				else
				{
					<span class="alert-warning" style="font-size:12px">&nbsp;Diff</span>
				}
			}
		</li>
	}
</ul>

<button class="btn btn-primary" @onclick="SelectAll">All</button>
<button class="btn btn-primary" style="float:right" @onclick="Sync2Unity">Sync to unity</button>

@code {
	private List<ToSyncItem> items = SyncHelper.GetAll();
	private List<ToSyncItem> selectedItems { get { return items.Where(item => item.IsReady).ToList(); } }

	/// <summary>
	/// Sync selected files to unity
	/// </summary>
	private void Sync2Unity()
	{
		foreach (var item in selectedItems)
		{			
			try
			{
				File.Copy(item.SourcePath, item.UnityPath, true);
			}
			catch
			{
				
			}
		}
	}
	private void SelectAll()
	{

	}
}
