@namespace BlazorSimpleUI.Components.Template
@typeparam TData

@if(Data is not null)
{
    <table class="table">
        <thead>
            <tr>
                @HeaderTemplate
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Data)
            {
                <tr>
                    @RowTemplate?.Invoke(item)
                    @Action?.Invoke(item)
                </tr>
            }
        </tbody>
    </table>
}
@code {
    [Parameter] public IEnumerable<TData>? Data { get; set; }
    [Parameter] public RenderFragment? HeaderTemplate { get; set; }
    [Parameter] public RenderFragment<TData>? RowTemplate { get; set; }
    [Parameter] public RenderFragment<TData>? Action{ get; set; }
}
