@page "/excel"

<h3>Excel to Json</h3>

<h6>@message</h6>
<button class="btn btn-primary btn-sm" @onclick="PersonToJson">人设总表</button>
<button class="btn btn-primary btn-sm" @onclick="VehicleToJson">vehicle</button>


@code {
	private string? message;

	protected override void OnInitialized()
	{
		message = "……";
	}

	private async Task PersonToJson()
	{
		const string personFile = "D:/纳罗达人设总表.xlsx";
		const string jsonFile = @"D:\GitHub\NLDClient\ProjectNLD\Assets\Art\temp\Editor\JsonData\PersonData.json";
		ExcelToJson personTable = new(listName: "personArray", excelPath: personFile, jsonPath: jsonFile)
		{
			Category = Category.Person,
			ColSet = new()
			{
				{ (int)ColName.A, "id" },
				{ (int)ColName.D, "name" },
				{ (int)ColName.K, "weapon" },
				{ (int)ColName.N, "aniSet" },
				{ (int)ColName.Ab, "model_0" },
				{ (int)ColName.Ac, "skin_0" },
				{ (int)ColName.Ad, "prefab_0" },
				{ (int)ColName.Ag, "model_1" },
				{ (int)ColName.Ah, "skin_1" },
				{ (int)ColName.Ai, "prefab_1" },
				{ (int)ColName.Aj, "skill" },
				{ (int)ColName.Ak, "bag_0" },
				{ (int)ColName.Al, "bag_1" },
			}
		};

		await Task.WhenAll(personTable.ToJson());
		message = personTable.JsonPath;
	}

	private async Task VehicleToJson()
	{
		const string excelFile = "D:/P_S_载具prefab.xlsx";
		const string jsonFile = @"D:\GitHub\NLDClient\ProjectNLD\Assets\Art\temp\Editor\JsonData\vehicleData.json";
		ExcelToJson carTable = new(listName: "vehicleArray", excelPath: excelFile, jsonPath: jsonFile)
		{
			ColSet = new Dictionary<int, string>
			{
				{ (int)ColName.C, "name" },
				{ (int)ColName.D, "batteryName" }
			}
		};

		await Task.WhenAll(carTable.ToJson());
		message = carTable.JsonPath;
	}

}