@page "/setting"
<PageTitle>Setting</PageTitle>

<h1>Set Role!</h1>

Welcome to your new app.

<p>
    {"role": "system", "content": "You are a helpful assistant."}, <br/>
    {"role": "user", "content": "Hello!"}
</p>
<p>
    设定系统角色，并保存到数据库 <br/>
    聊天记录保存到数据库 
</p>