@page "/excel"
@inject FileService fileService

<h3>Excel to Json</h3>

<h6>@message</h6>
<button class="btn btn-primary btn-sm" @onclick="PersonToJson">人设总表</button>
<button class="btn btn-primary btn-sm" @onclick="StoryToJson">story</button>


@code {
	private string? message;
	protected override void OnInitialized()
	{
		message = "……";
	}

	private async Task PersonToJson()
	{
		ExcelToJson personTable = new();
		personTable.ExcelPath = "D:/纳罗达人设总表.xlsx";
		personTable.JsonPath = "D:/PersonsData.json";
		personTable.Row = 140;
		personTable.Column = 45;
		personTable.ListName = "personList";
		personTable.Category = Category.person;

		personTable.ColSet = new()
		{
			{ (int)ColName.A, "id" },
			{ (int)ColName.D, "name" },
			{ (int)ColName.K, "weapon" },
			{ (int)ColName.N, "aniSet" },
			{ (int)ColName.AB, "model_0" },
			{ (int)ColName.AC, "skin_0" },
			{ (int)ColName.AD, "prefab_0" },
			{ (int)ColName.AG, "model_1" },
			{ (int)ColName.AH, "skin_1" },
			{ (int)ColName.AI, "prefab_1" },
			{ (int)ColName.AJ, "ani_0" },
			{ (int)ColName.AK, "ani_1" },
			{ (int)ColName.AL, "bag_0" },
			{ (int)ColName.AM, "bag_1" }

		};
		await Task.WhenAll(personTable.ToJson());
		message = "Done";
	}

	private async Task StoryToJson()
	{
		ExcelToJson storyTable = new();
		storyTable.ExcelPath = "D:/word.xlsx";
		storyTable.JsonPath = "D:/word.json";
		storyTable.Row = 200;
		storyTable.Column = 2;
		storyTable.ColSet = new(){
			 { (int)ColName.A, "id" },
			 { (int)ColName.B, "message" }
		};
		storyTable.ListName = "megList";

		await Task.WhenAll(storyTable.ToJson());
		message = "Done";
	}
}
