@page "/counter"
@using ImportAssetsToUnity.Components.Pages.Template
@using ImportAssetsToUnity.Domain.Entities
@using ImportAssetsToUnity.Domain.Services
@using ImportAssetsToUnity.Domain.ValueObjects

<PageTitle>Counter</PageTitle>

<div class="btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
        @*<input type="checkbox" @onchange="OnChange"> All*@
    </label>
</div>
@if (data.Count() != 0)
{
    <TddTable Data="@data">
        <HeaderTemplate>
            <th>Name</th>
            <th>State</th>
            <th>Action</th>
        </HeaderTemplate>
        <RowTemplate>
            <td>@context.Name</td>
            <td>
                @if (context.State == CheckResult.Equal)
                {
                    <span class="alert-success">&#10003</span>
                }
                else
                {
                    <span class="alert-warning">@context.State</span>
                }
            </td>
        </RowTemplate>
        <Action Context="row">
            <td>
                <button class="btn btn-primary btn-sm" @onclick="()=>row.CopyTo()">copy to unity</button>
            </td>
        </Action>
    </TddTable>
}

@code {
    [Parameter] public int Category { get; set; }
    IEnumerable<AssetInfo>? data;

    protected override void OnInitialized()
    {
        Category skill = new(
            Name: "skill",
            SearchPattern: "*.fbx",
            SourceDirectory: "E:/project_A/03_动作/ani_Skill_player/_fbx",
            DestDirectory: "D:/GitHub/NLDClient/ProjectNLD/Assets/Art/Animations/Battle/Skill");

        IAssetService animFile = new AssetsNoFolder(skill);
        data = animFile.GetAssetsInfo();
    }

}