@page "/bookshelf"
@rendermode InteractiveServer
@inject IWebHostEnvironment Env

<PageTitle>Bookshelf</PageTitle>

<h1>Bookshelf</h1>

<p>show and delete books</p>

@if (books.Length > 0)
{
    @books.Length
    <ul>
        @foreach (EpubBook book in books)
        {
            <NavLink href="@($"content/{book.Title}")">
                @book.Title<br/>
            </NavLink>
        }
    </ul>
}

@code {
    private EpubBook[] books = [];

    protected override async Task OnInitializedAsync()
    {
        string path = Path.Combine(Env.WebRootPath, "books");
        string[] files = Directory.GetFiles(path, "*.epub");
        books = await Task.WhenAll(files.Select(async file => await EpubReader.ReadBookAsync(file)));
        StateHasChanged(); // 强制刷新页面
    }
}