@namespace ServerApp2.Components.Layout
@inherits LayoutComponentBase
@layout MainLayout
@inject FileService fileService

@if (_data is not null)
{
    <ul class="nav nav-tabs">

        @foreach (var item in _data)
        {
            string href = $"role-{item.Id}";
            <li class="nav-item">
                <a class="nav-link" href="@href">@item.Name</a>
            </li>
        }
    </ul>
    @Body

}

@code {
    List<CategoryConfig>? _data;

    protected override void OnInitialized()
    {
        string data = fileService.ReadFile("Config/Categorys.json");
        _data = JsonConvert.DeserializeObject<List<CategoryConfig>>(data);
        if (_data is null)
        {
            _data = new();
        }
    }
}
