@namespace ServerApp2.Components
<button class="btn btn-primary" style="float:right; width:100px" @onclick="Submit">Yes</button>

@code {
    [CascadingParameter] BlazoredModalInstance Modal { get; set; } = default!;

    private async Task Submit()
    {
        await Modal.CloseAsync();
    }
}
