@namespace ServerApp2.Components
@typeparam TItem

<EditForm Model="Item" OnValidSubmit="Submit">
    @foreach (var propertyInfo in typeof(TItem).GetProperties())
    {
        if (propertyInfo.Name.Equals("Id")) continue;
        <label>@propertyInfo.Name:</label>
        <br/>
        <input @bind:get="propertyInfo.GetValue(Item)?.ToString()"
               @bind:set="_CreateInferredReference(propertyInfo.GetValue(Item)?.ToString(), ((v)=>propertyInfo.SetValue(Item,v)))"/>
        <br/>
        <br/>
    }
    <button class="btn btn-primary" style="width:100px; float:right" type="submit">OK</button>
</EditForm>



@code {
    [Parameter] public TItem? Item { get; set; }
    [CascadingParameter] BlazoredModalInstance Modal { get; set; } = default!;

    protected override void OnInitialized()
    {
        if (Item is null)
        {
            Item = Activator.CreateInstance<TItem>();
        }
    }

    private async Task Submit()
    {
        await Modal.CloseAsync(ModalResult.Ok(Item));
    }

}
