@page "/bag"
@rendermode InteractiveServer
@inject FileService fileService

<h3>Import Bag</h3>
<_Role Roles="CreateRoles()"></_Role>

@code {
    private List<Role> CreateRoles()
    {
        RoleFactory roleFactory = new(RoleCategory.Bag, fileService);
        return roleFactory.CreateRoles();
    }
}
