@page "/enemy"
@rendermode InteractiveServer
@inject FileService fileService

<h3>Import Enemy</h3>
<_Role Roles="CreateRoles()"></_Role>

@code {
    private List<Role> CreateRoles()
    {
        RoleFactory roleFactory = new(RoleCategory.Enemy, fileService);
        return roleFactory.CreateRoles();
    }
}
