@page "/gun"
@rendermode InteractiveServer
@inject FileService fileService

<h3>Import Gun</h3>
<_Role Roles="CreateRoles()"></_Role>

@code {
    private List<Role> CreateRoles()
    {
        RoleFactory roleFactory = new(RoleCategory.Gun, fileService);
        return roleFactory.CreateRoles();
    }
}
