@page "/npc"
@rendermode InteractiveServer
@inject FileService fileService

<h3>Import Npc</h3>
<_Role Roles="CreateRoles()"></_Role>

@code {
    private List<Role> CreateRoles()
    {
        RoleFactory roleFactory = new(RoleCategory.Npc, fileService);
        return roleFactory.CreateRoles();
    }
}
